*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background-color: #DB524D;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn{
    font-weight: bold;
    cursor: pointer;
    color: #DB524D;
    font-size: 20px;
    padding: 10px 20px;
    margin: 30px 10px;
    border-radius: 4px;
    border-color: white;
    text-transform: uppercase;
    outline: none;
}

.container{
    border: 2px solid white;
    padding: 30px 50px;
}

/* .btn:focus{
    outline: none;
}
 */
#timer{
    font-size: 8rem;
    font-weight: 600;
    cursor: default;
}



